body {
  background: linear-gradient(22deg, #8c03fc 0%, #38a773 100%);
  color: rgb(255, 255, 255);
  font-family: Arial, sans-serif;
  padding: 400px;
  text-align: center;
}

form input {
  padding: 10px;
  margin: 5px;
  font-size: 16px;
}

form button{
  border-radius: 10px 100px 10px 0px;
} 

button {
  transition-duration: 0.4s;
  color: black;
  background-color: white;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
}

form button:hover, button:hover {
  transition-duration: 0.4s;
  background-color: #38a773;
}

ul {
  transition-duration: 0.4s;
  border-radius: 20px;
  border-style:outset;
  border-color: #38a773;
  padding: 5px;
  background-color: rgb(255, 255, 255);
  color: black;
  list-style-type:none;
}
