body {
  text-align: center;
  color: rgb(255, 255, 255);
  font-family: Arial, sans-serif;
  background: linear-gradient(22deg, #8c03fc 0%, #38a773 100%);
  padding: 400px;
  list-style-type:none;
}

h1 {
  text-align: center;
}

button {
  transition-duration: 0.4s;
  color: black;
  background-color: white;
  padding: 8px 12px;
  font-size: 12px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  transition-duration: 0.4s;
  background-color: #38a773;
}

defense button {
  transition-duration: 0.4s;
  color: black;
  background-color: white;
  padding: 8px 12px;
  font-size: 12px;
  cursor: pointer;
  margin-top: 10px;
}

defense button:hover {
  transition-duration: 0.4s;
  background-color: #38a773;
}